@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-color: silver;
  color: white;
  font-family: "Roboto Mono", monospace;
}

.app-title {
  color: white;
  margin-top: 2rem;
}

і замінимо: .App {
  text-align: center;
}

на: .App {
  text-align: left;
}